.page-header{
    margin-top:0rem;
    margin-bottom:0rem;
}
.page-header.deal{
    margin-top:0rem;
    margin-bottom:0rem;
}

.panel-heading.deal h2{
    margin-top:0rem;
    margin-bottom:0rem;
}

.deal-image{
    max-height:30rem;
}

.price-tag{
    /*margin-right:5rem;*/
    color:#18bc9c;
}
.price-tag .badge{
    font-size:3rem;
    background-color:#18bc9c;
    vertical-align: middle;

}

.section-deal{
    margin-bottom: 10rem;
}

.section-idea{
    /*margin-bottom: 5rem;*/
}

.fa-umbrella{
    color:yellow;
}

.navbar{
    background-color: #149c82;
}
